// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark-grey: #222222;


.category-list {
  .category-link {
    text-decoration: none;
    .category-item {
      height: 600px;
      width: 100%;
      text-align: center;
      background-repeat: no-repeat;
      background-position: top center;
      .category-info {
        display: none;
        height: 600px;
        background: rgba(0, 0, 0, 0.3);
        padding-top: 100px;
        h2 {
          color: #fff;
          text-decoration: underline;
        }
      }
      &:hover, &:focus {
        text-decoration: none;
        .category-info {
          display: block;
        }
      }
    }
  }
}